/* basic page setup */
body {
  width: 600px;
  margin: 0 auto;
  font-family: "Lucida Sans", sans-serif;
  color: #00376c;
}
/* links */
a {
  color: ##00376c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
