/* basic page setup */
body {
  width: 600px;
  margin: 0 auto;
  font-family: "Lucida Sans", sans-serif;
  color: #00376c;
}
/* links */
a {
  color: ##00376c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* heading styles */
h2 {
  border-bottom: 2px solid #7b7b7b;
  text-align: center;
}
h3 {
  color: #1577ff;
  border-bottom: 2px solid #1577ff;
  display: inline;
}
